.app__fullstack{
    display: flex;
    /* background: rgb(2, 1, 26); */
    /* background-image: linear-gradient(-25deg, rgb(0, 0, 20) 0%, rgb(0, 0, 30) 100%); */
    background-image: linear-gradient(0deg, rgba(4,0,30,1) 30%, rgb(165, 125, 16) 50%, rgba(4,0,30,1) 70%) ;
    
padding-bottom: 5rem;
    flex-direction: column;
}
.app__fullstack-title{
    display: flex;
    justify-content: center;
    color: rgb(134, 117, 38);
    
}
.app__fullstack-title h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2rem;
    font-size: 45px;
    font-weight: 300;
}
.app__fullstack-content{
    display: flex;
    justify-content: center;
}