.app__fullstack {
  display: flex;
  height: 700px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
  background-color: rgb(255, 255, 255);
}
.app__fullstack-title {
  display: flex;
  justify-content: center;
  color: rgb(134, 117, 38);
}
.app__fullstack-title h1 {
  margin: 2rem;
  font-size: 45px;
}
.app__fullstack-content {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1350px) {
  .app__fullstack {
    height: auto;
  }
  .app__fullstack-title h1 {
    margin-top: 4rem;
    font-size: 35px;
  }
  .app__fullstack-content {
    flex-direction: column;
  }
}
