.app__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  width: 100%;
  /* background: rgb(158, 158, 158); */
  /* background-image: linear-gradient(
    90deg,
    rgb(240, 240, 240) 50%,
    rgb(187, 187, 187) 100%
  ); */
}
.app__about_content {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
}
.app__about_content-animation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__about_content-animation img {
  height: 350px;
}
/* .app__about_content-animation svg {
  width: 100%;
  height: 100%;
} */
.app__about_content-info {
  height: 100%;
  width: 600px;
  display: flex;
  margin: 2rem 0 0 2rem;
  flex-direction: column;
}

.app__about_content-info p {
  font-weight: 100;
  font-size: 17px;
  margin-bottom: 1rem;
  font-family: "Rubik";
  font-weight: 300;
}
.app__about_bottom {
  height: 50px;
  font-size: 27px;
  color: rgb(8, 8, 8);
  margin-bottom: 2rem;
}
@media screen and (max-width: 1278px) {
  .app__about_content {
    width: 900px;
  }
  .app__about_content-info {
    width: 500px;
  }
}
@media screen and (max-width: 988px) {
  .app__about {
    justify-content: center;
    height: 800px;
  }

  .app__about_content {
    width: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 0 1rem;
  }
  .app__about_content-animation {
    height: 300px;
    width: 300px;
  }
  /* .app__about_content-animation img {
    height: 200px;
    width: 200px;
  } */

  .app__about_content-info {
    height: 100%;
    width: 500px;
    margin-left: 1rem;
  }
  .app__about_bottom span {
    font-size: 20px;
  }
}
@media screen and (max-width: 778px) {
  .app__about {
    height: 700px;
  }
  .app__about_content {
    margin: 0;
  }
  .app__about_content-animation {
    height: 300px;

    margin-top: 4rem;
  }
  .app__about_content-animation img {
    height: 300px;
  }
  .app__about_content-info {
    width: 550px;
  }
  .app__about_content-info p {
    width: 430px;
    font-size: 15px;
  }
  .app__about-techstack {
    width: 600px;
  }
  .app__about-techstack ul img {
    height: 24px;
  }
  .app__about_bottom span {
    font-size: 17px;
  }
}
@media screen and (max-width: 650px) {
  .app__about {
    height: 650px;
  }
  .app__about_content {
    width: 550px;
  }
  .app__about_content-animation {
    height: 250px;
  }
  .app__about_content-animation img {
    height: 250px;
  }
  .app__about_content-info {
    width: 450px;
  }
  .app__about_content-info p {
    width: 380px;
  }
  .app__about-techstack {
    width: 578px;
  }
  .app__about-techstack ul img {
    height: 20px;
  }
}
@media screen and (max-width: 578px) {
  .app__about {
    height: 700px;
  }
  .app__about_content {
    width: 450px;
  }
  .app__about_content-animation img {
    height: 200px;
  }
  .app__about_content-info {
    width: 400px;
  }
  .app__about_content-info p {
    width: 400px;
  }
  .app__about-techstack {
    width: 430px;
  }
  .app__about-techstack ul img {
    height: 15px;
  }
}
@media screen and (max-width: 430px) {
  .app__about {
    height: 650px;
  }
  .app__about_content {
    width: 380px;
  }
  .app__about_content-animation img {
    height: 200px;
  }
  .app__about_content-info {
    width: 375px;
  }
  .app__about_content-info p {
    width: 355px;
    font-size: 14px;
  }
  .app__about-techstack {
    width: 375px;
  }
  .app__about-techstack ul img {
    height: 15px;
  }
}
@media screen and (max-width: 375px) {
  .app__about_content {
    width: 330px;
  }
  .app__about_content-info {
    width: 300px;
  }
  .app__about_content-info p {
    width: 290px;
    font-size: 14px;
  }
  .app__about-techstack {
    width: 320px;
  }
  .app__about-techstack ul img {
    height: 15px;
  }
}
