.app__frontend{
    display: flex;
    /* background: rgb(2, 1, 26); */
    background-image: linear-gradient(-25deg, rgb(0, 0, 20) 0%, rgb(0, 0, 30) 100%);
    flex-direction: column;
}
.app__frontend-title{
    display: flex;
    justify-content: center;
    color: rgb(116, 90, 90);
    
}
.app__frontend-title h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2rem;
    font-size: 45px;
    font-weight: 300;
}
.app__frontend-content{
    display: flex;
    justify-content: center;
}