.app__frontend{
    display: flex;
    /* background: rgb(2, 1, 26); */
    /* background-image: linear-gradient(-25deg, rgb(0, 0, 0) 0%, rgb(0, 0, 51) 100%); */
    background-image: linear-gradient(0deg, rgb(0, 0, 30) 30%, rgb(165, 125, 16) 50%, rgb(0, 0, 30) 70%) ;
    flex-direction: column;
}
.app__frontend-title{
    display: flex;
    justify-content: center;
    color: rgb(134, 117, 38);
    
}
.app__frontend-title h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2rem;
    font-size: 45px;
    font-weight: 300;
}
.app__frontend-content{
    display: flex;
    justify-content: center;
}