.app__contact {
    display: flex;
    /* background: rgb(2, 1, 26); */
    /* background-image: linear-gradient(-25deg, rgb(0, 0, 0) 0%, rgb(0, 0, 51) 100%); */
    background: rgb(0, 0, 46);
    flex-direction: column;
}
.app__contact-content{

}
.app__contact-content-call{

}
.app__contact-content-email{

}
.app__contact-content-linkedin{

}
.app__contact-content-github{

}
