.app__navbar {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* background-image: linear-gradient(0deg, rgb(0, 0, 30) 20%, rgb(16, 2, 49) 30%, rgb(0, 0, 30) 80%) ; */
  background: radial-gradient(rgb(0, 0, 30) 0%, rgb(0, 0, 20) 100%);
  /* background: rgb(16, 1, 46); */
  text-align: center;
  color: rgb(181, 181, 214);
  position: relative;
}
.app__navbar-content {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  margin: 0 3rem;
}
.app__navbar-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
}
.app__navbar-title svg {
  margin: 5px;
  animation: rotate 8s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.app__navbar-links {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}
.app__navbar-links ul {
  display: flex;
}
.app__navbar-links * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.app__navbar-links li {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  margin-left: 2rem;
}
.app__navbar-links a {
  color: rgb(181, 181, 214);
  text-decoration: none;
  position: relative;
  padding: 0.5em 0.8em;
}
.app__navbar-links a:visited {
  text-decoration: none;
}

.app__navbar-links a::before,
.app__navbar-links a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.app__navbar-links a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #3e8914;
  border-right: 3px solid #2e640f;
  transform: translate(-100%, 50%);
}

.app__navbar-links a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2e640f;
  border-left: 3px solid #3e8914;
  transform: translate(100%, -50%);
}

.app__navbar-links a:hover:before,
.app__navbar-links a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.app__navbar-links a:hover {
  color: #3da35d;
}

.app__navbar-contact {
  display: flex;
  align-items: center;
}
.app__navbar-contact svg {
  margin: 1rem;
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background: rgb(16, 1, 46);
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
}
.app__navbar-contact svg::before {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.app__navbar-contact svg:hover::before {
  transform: scale(1);
  box-shadow: 0 0 25px #ffee10;
}

.app__navbar-contact svg:hover {
  color: #ffee10;
  box-shadow: 0 0 12px #ffee10;
  transform: scale(1.1);
}

.app__navbar-smallscreen {
  display: none;
}
.app__navbar-smallscreen-menu {
  align-self: center;
  
  color: "#fff";
  font-size: 27px;
}
.app__navbar-smallscreen-menu:hover {
  color: rgb(151, 156, 156);
}
.app__navbar-smallscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(1, 0, 46);
  transition: 0.5s ease;
  z-index: 5;
  flex-direction: column;
}
.app__navbar-smallscreen-overlay .overlay__close {
  font-size: 27px;
  color: rgb(104, 104, 114);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.app__navbar-smallscreen-links {
  list-style: none;
  justify-content: space-around;
}
.app__navbar-smallscreen-links a {
  list-style: none;
  text-decoration: none;
  color: silver;
  font-family: "Courier New", Courier, monospace;
}
.app__navbar-smallscreen-links li {
  margin: 2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
}
.app__navbar-smallscreen-links li:hover {
  color: whitesmoke;
}

@media screen and (max-width: 978px) {
  .app__navbar-links {
    display: none;
  }
  .app__navbar-smallscreen {
    display: flex;
  }
 
  .app__navbar-smallscreen-menu {
    align-self: center;
    margin-right: 0.8rem;
    color: "#fff";
    font-size: 25px;
  }
  .app__navbar-content{
    /* margin: 0 1rem; */
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
