.app__tech {
  height: 400px;
  display: flex;
}

.app__tech-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}
.app__tech-content ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}
.app__tech-content img {
  height: 30px;
}
.app__tech-content h2 {
  font-weight: 200;
}

@media screen and (max-width: 978px) {
  .app__tech-content h2 {
    font-weight: 200;
    font-size: 22px;
  }
}
